<a href="https://colab.research.google.com/github/loicpages/qm_final/blob/main/data_cleaning_the_one_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Data cleaning notebook - use to clean/ merge/ rearrange data sets***

*Libraries used:*

In [1]:
import pylab
import pandas as pd
import numpy as np
from google.colab import files
import io
import matplotlib.pyplot as plt
from functools import reduce
%matplotlib inline
plt.style.use('ggplot')

*Importing, Encording and Indexing data:*

In [2]:
data_path = '/content/complete_data_set.csv'
general_df = pd.read_csv(data_path, encoding ='latin-1')

In [3]:
#Creating a food_availibility dataframe#
intermediate_food_availibility_df = general_df[general_df.Commodity == "Total Grains/Cereals and Root Crops (R&T)"]
food_availibility_df = intermediate_food_availibility_df[intermediate_food_availibility_df.Item == 'Food Availability per capita']
food_availibility_df = food_availibility_df.reset_index(drop = True)
food_availibility_df.rename(columns = {'Amount': 'Food Availibility per capita (kg/cap/year)'}, inplace = True)
food_availibility_df.drop(['Commodity', 'Item', 'Unit'], axis=1, inplace = True)

#Creating a food_production dataframe#
intermediate_food_production_df = general_df[general_df.Commodity == "Total Grains/Cereals and Root Crops (R&T)"]
food_production_df = intermediate_food_production_df[intermediate_food_production_df.Item == 'Production Quantity']
food_production_df = food_production_df.reset_index(drop = True)
food_production_df.rename(columns = {'Amount': 'Production Quantity (Grains & Ce.+ Root Crops)(1000MT)'}, inplace = True)
food_production_df.drop(['Commodity', 'Item', 'Unit'], axis=1, inplace = True)

#Creating an import_grains_df#
intermediate_import_grains_df = general_df[general_df.Commodity == "Total Grains/Cereals"]
import_grains_df = intermediate_import_grains_df[intermediate_import_grains_df.Item == 'Import Quantity']
import_grains_df = import_grains_df.reset_index(drop = True)
import_grains_df.rename(columns = {'Amount': 'Import Quantity (Grains & Ce.)(1000MT)'}, inplace = True)
import_grains_df.drop(['Commodity', 'Item', 'Unit'], axis=1, inplace = True)

#Creating an export_grains_df#
intermediate_export_grains_df = general_df[general_df.Commodity == "Total Grains/Cereals"]
export_grains_df = intermediate_export_grains_df[intermediate_export_grains_df.Item == 'Export Quantity']
export_grains_df = export_grains_df.reset_index(drop = True)
export_grains_df.rename(columns = {'Amount': 'Export Quantity (Grains & Ce.)(1000MT)'}, inplace = True)
export_grains_df.drop(['Commodity', 'Item', 'Unit'], axis=1, inplace = True)

#Creating an import_root_df#
intermediate_import_root_df = general_df[general_df.Commodity == "Root Crops (R&T)"]
import_root_df = intermediate_import_root_df[intermediate_import_root_df.Item == 'Import Quantity']
import_root_df = import_root_df.reset_index(drop = True)
import_root_df.rename(columns = {'Amount': 'Import Quantity (Root Crops)(1000MT)'}, inplace = True)
import_root_df.drop(['Commodity', 'Item', 'Unit'], axis=1, inplace = True)

#Creating an export_root_df#
intermediate_export_root_df = general_df[general_df.Commodity == "Root Crops (R&T)"]
export_root_df = intermediate_export_root_df[intermediate_export_root_df.Item == 'Export Quantity']
export_root_df = export_root_df.reset_index(drop = True)
export_root_df.rename(columns = {'Amount': 'Export Quantity (Root Crops)(1000MT)'}, inplace = True)
export_root_df.drop(['Commodity', 'Item', 'Unit'], axis=1, inplace = True)

#Creating a population_df#
population_df = general_df[general_df.Commodity == "Population"]
population_df = population_df.reset_index(drop = True)
population_df.rename(columns = {'Amount': 'Population (Million)'}, inplace = True)
population_df.drop(['Commodity', 'Item', 'Unit'], axis=1, inplace = True)

#Creating a cereal_food_aid_df#
intermediate_food_aid_df = general_df[(general_df.Commodity == "Food Aid")]
food_aid_df = intermediate_food_aid_df[intermediate_food_aid_df.Item == 'Cereal Food Aid']
food_aid_df = food_aid_df.reset_index(drop = True)
food_aid_df.rename(columns = {'Amount': 'Cereal Food Aid (Grain Equiv. 1000MT)'}, inplace = True)
food_aid_df.drop(['Commodity', 'Item', 'Unit'], axis=1, inplace = True)

#Creating a non_cereal_food_aid_df#
food_noncaid_df = intermediate_food_aid_df[intermediate_food_aid_df.Item == 'Non-Cereal Food Aid']
food_noncaid_df = food_noncaid_df.reset_index(drop = True)
food_noncaid_df.rename(columns = {'Amount': 'Non-Cereal Food Aid (Grain Equiv. 1000MT)'}, inplace = True)
food_noncaid_df.drop(['Commodity', 'Item', 'Unit'], axis=1, inplace = True)

In [4]:
#merge data frames and fill gaps#
data_frames = [food_availibility_df, food_production_df, import_grains_df, export_grains_df, import_root_df, export_root_df, population_df, food_noncaid_df, food_aid_df]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Country', 'Year'],
                                            how='outer'), data_frames).fillna(pd.NaT)    

df_merged.sort_values(by=['Country', 'Year'], inplace = True)
df_merged.reset_index(drop = True)

          Country  ...  Cereal Food Aid (Grain Equiv. 1000MT)
0     Afghanistan  ...                                    NaT
1     Afghanistan  ...                                    NaT
2     Afghanistan  ...                                    NaT
3     Afghanistan  ...                                    NaT
4     Afghanistan  ...                                    NaT
...           ...  ...                                    ...
2579     Zimbabwe  ...                                217.998
2580     Zimbabwe  ...                                 63.649
2581     Zimbabwe  ...                                32.9847
2582     Zimbabwe  ...                                26.4567
2583     Zimbabwe  ...                                    NaT

[2584 rows x 11 columns]

In [ ]:
#Add additional columns that are required for analysis#
df_merged['Imports (all)(1000MT)'] = df_merged['Import Quantity (Grains & Ce.)(1000MT)'] + df_merged['Import Quantity (Root Crops)(1000MT)']
df_merged['Exports (all)(1000MT)'] = df_merged['Export Quantity (Grains & Ce.)(1000MT)'] + df_merged['Export Quantity (Root Crops)(1000MT)']
df_merged['Production Quantity per capita (kg/cap/year)'] = df_merged['Production Quantity (Grains & Ce.+ Root Crops)(1000MT)'] / df_merged['Population (Million)']
df_merged['Imports (all) per capita (kg/cap/year)'] = df_merged['Imports (all)(1000MT)'] / df_merged['Population (Million)']
df_merged['Exports (all) per capita (kg/cap/year)'] = df_merged['Exports (all)(1000MT)'] / df_merged['Population (Million)']
df_merged['Production + net ex-imports (kg/cap/year)'] = (df_merged['Imports (all) per capita (kg/cap/year)'] + df_merged['Production Quantity per capita (kg/cap/year)']) - df_merged['Exports (all) per capita (kg/cap/year)']
df_merged['Total Food Aid'] = df_merged['Non-Cereal Food Aid (Grain Equiv. 1000MT)'] + df_merged['Cereal Food Aid (Grain Equiv. 1000MT)']
df_merged['Total Food Aid per capita (kg/cap/year)'] = (df_merged['Non-Cereal Food Aid (Grain Equiv. 1000MT)'] + df_merged['Cereal Food Aid (Grain Equiv. 1000MT)'])/df_merged['Population (Million)']

**Countries:**  Algeria, Angola, Armenia, Azerbaijan, Bangladesh, Benin, Bolivia, Burkina Faso, Burundi, CAR, Cambodia, Cameroon, Cape Verde, Chad, Colombia, Congo, C√¥te d'Ivoire, Egypt, Eritrea, Ethiopia, Gambia, Georgia, Ghana, Guinea, Guinea-Bissau, India, Indonesia, Kenya, Kyrgyzstan, Laos, Lesotho, Liberia, Madagascar, Malawi, Mali, Mauritania, Moldova, Mongolia, Morocco, Mozambique, Namibia, Nepal, Niger, Nigeria, North Korea, Pakistan, Philippines, Rwanda, Senegal, Sierra Leone, Sri Lanka, Sudan, Swaziland, Tajikistan, Tanzania, Togo, Tunisia, Turkmenistan, Uganda, Uzbekistan, Vietnam, Yemen, Zambia, Zimbabwe

**Regions:**
North Africa, Central Africa, West Africa, East Africa, Southern Africa

Caucasus and Middle East 

South Asia, South East Asia, Central and East Asia

South America

Europe

In [8]:
data_path = '/content/df_final.csv'
df_no_missing_values = pd.read_csv(data_path, encoding ='latin-1')

In [11]:
conditions = [
#North Africa
    (df_merged['Country'] == 'Algeria') |
    (df_merged['Country'] == 'Mauritania') |
    (df_merged['Country'] == 'Morocco') |
    (df_merged['Country'] == 'Tunisia'),
#Central Africa
    (df_merged['Country'] == 'Angola') | 
    (df_merged['Country'] == 'CAR') | 
    (df_merged['Country'] == 'Cameroon') | 
    (df_merged['Country'] == 'Chad') | 
    (df_merged['Country'] == 'Congo') |
    (df_merged['Country'] == 'DRCongo') |
    (df_merged['Country'] == 'Rwanda') |
    (df_merged['Country'] == 'Sudan'),
#Caucasus and Middle East
    (df_merged['Country'] == 'Armenia') | 
    (df_merged['Country'] == 'Azerbaijan') | 
    (df_merged['Country'] == 'Egypt') | 
    (df_merged['Country'] == 'Georgia') |
    (df_merged['Country'] == 'Tajikistan') |
    (df_merged['Country'] == 'Yemen'),
#South Asia
    (df_merged['Country'] == 'Bangladesh') |
    (df_merged['Country'] == 'India') |
    (df_merged['Country'] == 'Nepal') |
    (df_merged['Country'] == 'Pakistan') |
    (df_merged['Country'] == 'Sri Lanka'),
#West Africa
    (df_merged['Country'] == 'Benin') | 
    (df_merged['Country'] == 'Burkina Faso') | 
    (df_merged['Country'] == 'Cape Verde') | 
    (df_merged['Country'] == "Céte d'Ivoire") | 
    (df_merged['Country'] == 'Gambia') |
    (df_merged['Country'] == 'Ghana') |
    (df_merged['Country'] == 'Guinea') |
    (df_merged['Country'] == 'Guinea-Bissau') |
    (df_merged['Country'] == 'Liberia') |
    (df_merged['Country'] == 'Mali') |
    (df_merged['Country'] == 'Niger') |
    (df_merged['Country'] == 'Nigeria') |
    (df_merged['Country'] == 'Senegal') |
    (df_merged['Country'] == 'Sierra Leone') |
    (df_merged['Country'] == 'Togo'),
#South & Central America
    (df_merged['Country'] == 'Bolivia') | 
    (df_merged['Country'] == 'DomRep') | 
    (df_merged['Country'] == 'Ecuador') | 
    (df_merged['Country'] == 'El Salvador') | 
    (df_merged['Country'] == 'Guatemala') | 
    (df_merged['Country'] == 'Haiti') |
    (df_merged['Country'] == 'Honduras') |
    (df_merged['Country'] == 'Jamaica') |
    (df_merged['Country'] == 'Nicaragua') |
    (df_merged['Country'] == 'Peru') |
    (df_merged['Country'] == 'Colombia'),
#East Africa
    (df_merged['Country'] == 'Burundi') | 
    (df_merged['Country'] == 'Eritrea') | 
    (df_merged['Country'] == 'Ethiopia') |
    (df_merged['Country'] == 'Kenya') |
    (df_merged['Country'] == 'Tanzania') |
    (df_merged['Country'] == 'Somalia') |
    (df_merged['Country'] == 'Uganda'),
#South East Asia
    (df_merged['Country'] == 'Cambodia') |
    (df_merged['Country'] == 'Indonesia') |
    (df_merged['Country'] == 'Laos') |
    (df_merged['Country'] == 'Philippines') |
    (df_merged['Country'] == 'Vietnam'),
#Central and East Asia
    (df_merged['Country'] == 'Kyrgyzstan') |
    (df_merged['Country'] == 'Mongolia') |
    (df_merged['Country'] == 'North Korea') |
    (df_merged['Country'] == 'Turkmenistan') |
    (df_merged['Country'] == 'Afghanistan') |
    (df_merged['Country'] == 'Uzbekistan'),
#Southern Africa
    (df_merged['Country'] == 'Lesotho') |
    (df_merged['Country'] == 'Madagascar') |
    (df_merged['Country'] == 'Malawi') |
    (df_merged['Country'] == 'Mozambique') |
    (df_merged['Country'] == 'Namibia') |
    (df_merged['Country'] == 'Swaziland') |
    (df_merged['Country'] == 'Zambia') |
    (df_merged['Country'] == 'Zimbabwe'),
#Europe
    (df_merged['Country'] == 'Moldova')]

values = ['North Africa', 'Central Africa', 'Caucasus and Middle East', 'South Asia', 'West Africa', 'South America', 'East Africa', 'South East Asia', 'Central and East Asia', 'Southern Africa', 'Europe']
df_merged['Region'] = np.select(conditions, values)

df_merged.to_csv(r'df_final_use.csv', index = False)
df_merged

          Country  ...                 Region
2428  Afghanistan  ...  Central and East Asia
2429  Afghanistan  ...  Central and East Asia
2430  Afghanistan  ...  Central and East Asia
2431  Afghanistan  ...  Central and East Asia
2432  Afghanistan  ...  Central and East Asia
...           ...  ...                    ...
717      Zimbabwe  ...        Southern Africa
718      Zimbabwe  ...        Southern Africa
719      Zimbabwe  ...        Southern Africa
720      Zimbabwe  ...        Southern Africa
721      Zimbabwe  ...        Southern Africa

[2584 rows x 20 columns]